.game-button {
    -fx-shape: "M 100 250 L 200 200 L 300 250 L 300 350 L 200 400 L 100 350 L 100 250 ";
}

.moon-button {
    -fx-shape: "M 200 400 Q 350 250 200 100 A 50 50 0 1 1 200 400";
}

.sun-button {
    -fx-shape: "M 200 400 A 50 50 0 1 1 200 100 A 50 50 0 1 1 200 400";
}
