.toggle-switch > .thumb {
  -fx-background-color: -color-border-default, -color-fg-emphasis;
  -fx-background-insets: 4px, 6px;
  -fx-background-radius: 10em;
  -fx-padding: 0.85em;
  -fx-alignment: CENTER;
  -fx-content-display: LEFT;
  -fx-opacity: 0.8;
}
.toggle-switch > .thumb-area {
  -fx-background-radius: 1em;
  -fx-background-color: -color-border-default, -color-bg-subtle;
  -fx-background-insets: 4px, 5px;
  -fx-padding: 0.85em 1.4em 0.85em 1.4em;
}
.toggle-switch:selected > .thumb {
  -fx-background-color: -color-accent-emphasis, -color-fg-emphasis;
  -fx-opacity: 1;
}
.toggle-switch:selected > .thumb-area {
  -fx-background-color: -color-accent-emphasis, -color-accent-emphasis;
}
.toggle-switch:selected:success > .thumb {
  -fx-background-color: -color-success-emphasis, -color-fg-emphasis;
}
.toggle-switch:selected:success > .thumb-area {
  -fx-background-color: -color-success-emphasis, -color-success-emphasis;
}
.toggle-switch:selected:danger > .thumb {
  -fx-background-color: -color-danger-emphasis, -color-fg-emphasis;
}
.toggle-switch:selected:danger > .thumb-area {
  -fx-background-color: -color-danger-emphasis, -color-danger-emphasis;
}
.toggle-switch:right > .label-container > .label {
  -fx-padding: 2px 0 2px 6px;
}
.toggle-switch:disabled {
  -fx-opacity: 0.4;
}
